<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>
	{% if page_title %}{{page_title}}
	{% else %}UserInfuser Dashboard{% endif %}
</title>

<link rel="stylesheet" media="screen" href="/console/css/reset.css" />
<link rel="stylesheet" media="screen" href="/console/css/grid.css" />
<link rel="stylesheet" media="screen" href="/console/css/style.css" />
<link rel="stylesheet" media="screen" href="/console/css/messages.css" />
<link rel="stylesheet" media="screen" href="/console/css/forms.css" />
<link rel="stylesheet" media="screen" href="/console/css/tables.css" />
<link rel="stylesheet" media="screen" href="/console/chosen/chosen.css" />
<!--[if lt IE 8]>
<link rel="stylesheet" media="screen" href="/console/css/ie.css" />
<![endif]-->

<!-- jquerytools -->
<script src="/console/js/jquery.tools.min.js"></script>
<script src="/console/js/jquery.tables.js"></script>
<script src="/console/js/jquery.ui.min.js"></script>
<script src="/console/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript">


  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22554622-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script src="/console/js/ajax.js"></script>
<script src="/console/js/features.js"></script>

{% if users_main %}
<script src="/console/js/users.js"></script>
{% endif %}


<script type="text/javascript" src="/console/js/global.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $("#loader").hide(); 
  });
</script>
<!--[if lt IE 9]>
<script type="text/javascript" src="/console/js/html5.js"></script>
<script type="text/javascript" src="/console/js/PIE.js"></script>
<script type="text/javascript" src="/console/js/IE9.js"></script>
<script type="text/javascript" src="/console/js/ie.js"></script>
<![endif]-->

</head>
<body>
<!-- Feeback widget --> 
    <div id="wrapper">
        <header>
            <div class="container_8 clearfix">
                <h1 class="grid_1"><a href="/adminconsole">UserInfuser</a></h1>
                <nav class="grid_5">
                    <ul class="clearfix">
                        <li class="fr"><a href="#">{{account_name}}<span class="arrow-down"></span></a>
                            <ul>
                                <li><a href="/adminconsole/preferences">Preferences</a></li>
                                <li><a href="/logout">Sign out</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <form class="grid_2" method="GET" target="/adminconsole">
                    <input class="full" type="text" placeholder="Search your users... Coming soon" />
                </form>
                
            </div>
        </header>
        
        <section>
            <div class="container_8 clearfix">

                <!-- Sidebar -->

                <aside class="grid_1">

                    <nav class="global">
                        <ul class="clearfix">
                            <li {%if dashboard_main %}class="active"{% endif %}><a class="nav-icon icon-house" href="/adminconsole">Dashboard</a></li>
                            <li {%if features_main %}class="active"{% endif %}><a class="nav-icon icon-star" href="/adminconsole/features">Widgets</a></li>
                            <li {%if users_main %}class="active"{% endif %}><a class="nav-icon icon-user" href="/adminconsole/users">Users</a></li>
                            <li {%if downloads_main %}class="active"{% endif %}><a class="nav-icon icon-arrow_down" href="/adminconsole/downloads">Downloads</a></li>
                            <li {%if analytics_main %}class="active"{% endif %}><a class="nav-icon icon-calculator" href="/adminconsole/analytics">Analytics</a></li>
                            <li {%if badges_main %}class="active"{% endif %}><a class="nav-icon icon-bomb" href="/adminconsole/badges">Badges</a></li>
                        </ul>
                    </nav>
                </aside>
                <!-- Sidebar End -->
                
				{% if dashboard_main %}
                <!-- DASHBOARD Main Section -->
                {% include "section_main.html" %}
                <!-- DASHBOARD Main Section End -->
                
				{% else %}
				{%if users_edit %}
                <!-- USERS EDIT Section 3 column -->
                {% include "section_users_edit.html" %}
                <!-- USERS EDIT Section End -->
                
                {% else %}
                {% if users_main %}
                <!-- USERS Main Section ONE BIG COLUMN -->
				{% include "section_users.html" %}
                <!-- USERS Main Section End -->
                
                {% else %}
                {% if features_main %}
                <!-- FEATURES Main Section ONE BIG COLUMN -->
				{% include "section_features.html" %}
                <!-- FEATURES Main Section End -->
                
                {% else %}
                {% if downloads_main %}
                <!-- DOWNLOADS Main Section ONE BIG COLUMN -->
				{% include "section_downloads.html" %}
                <!-- DOWNLOADS Main Section End -->
                
                {% else %}
                {% if analytics_main %}
                <!-- ANALYTICS Main Section ONE BIG COLUMN -->
				{% include "section_analytics.html" %}
                <!-- ANALYTICS Main Section End -->
                
                {% else %}
                {% if badges_main %}
                <!-- BADGES Main Section ONE BIG COLUMN -->
                {% include "section_badges.html" %}
                <!-- BADGES Main Section End -->
                
                {% else %}
                {% if badge_upload_success %}
                <!-- BADGES upload success ONE BIG COLUMN -->
                {% include "section_badges_upload.html" %}
                <!-- BADGES UPLOAD SUCCESS Section End -->
                
                {% else %}
                {% if preferences_main %}
                <!-- PREFERENCES page ONE BIG COLUMN -->
                {% include "section_preferences.html" %}
                <!-- PREFERENCES Section End -->
                
                {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
                

            </div>
            <div id="push"></div>
        </section>
    </div>
    
    <footer>
        <div id="footer-inner" class="container_8 clearfix">
            <div class="grid_8">
                
            </div>
        </div>
    </footer>
<!-- Feeback widget --> 
<script type="text/javascript" charset="utf-8"> 
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
 
<script type="text/javascript" charset="utf-8"> 
  var feedback_widget_options = {};
 
  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "cloudcaptive";
  feedback_widget_options.placement = "left";
  feedback_widget_options.color = "#222";
  feedback_widget_options.style = "idea";
  
 
  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script> 
<!-- Feeback widget --> 
</body>
</html>
