<section class="main-section grid_7">
	<div class="main-content">
		<header>
			<h2>Account Preferences</h2>
		</header> 
		<section class="container_6 clearfix">
			<div class="grid_6">
				<h2>Change your password</h2>
				<hr/>
				{% if password_change_attempted %}
					{% if password_changed %}
					<h4>Password changed successfully</h4>
					{%  else %}
					<h4>{{error_message}} Change unsuccessful, <a href="/adminconsole/preferences">try again.</a></h4>
					{% endif %}
				{% else %}
				<form id="form" class="form grid_5" action="/adminconsole/preferences" method="post" enctype="multipart/form-data">
					<fieldset>
						<legend>Change password</legend>
						<label>Old password<em>*</em></label><input type="password" name="oldpassword" required="required" />
						<label>New password<em>*</em></label><input type="password" name="newpassword" required="required" />
						<label>New password repeat<em>*</em></label><input type="password" name="newpasswordagain" required="required" />
						<div class="action">
							<button class="button button-gray" type="submit"><span class="accept"></span>OK</button>
							<button class="button button-gray" type="reset">Reset</button>
						</div>
					</fieldset>
				</form>
				{% endif %}
			</div>
		</section>
	</div>
</section>