<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>UserInfuser Sign Up</title>

<link rel="stylesheet" media="screen" href="/console/css/reset.css" />
<link rel="stylesheet" media="screen" href="/console/css/grid.css" />
<link rel="stylesheet" media="screen" href="/console/css/style.css" />
<link rel="stylesheet" media="screen" href="/console/css/messages.css" />
<link rel="stylesheet" media="screen" href="/console/css/forms.css" />
<script type="text/javascript">


  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22554622-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!--[if lt IE 9]>
<script src="/console/js/html5.js"></script>
<script src="/console/js/PIE.js"></script>
<![endif]-->
<!-- jquerytools -->
<script src="/console/js/jquery.tools.min.js"></script>
<script src="/console/js/jquery.ui.min.js"></script>

<!--[if lte IE 9]>
<link rel="stylesheet" media="screen" href="/console/css/ie.css" />
<script type="text/javascript" src="/console/js/ie.js"></script>
<![endif]-->

<script src="/console/js/global.js"></script>



<script> 
$(document).ready(function(){
    $.tools.validator.fn("#username", function(input, value) {
        return value!='Username' ? true : {     
            en: "Please complete this mandatory field"
        };
    });
    
    $.tools.validator.fn("#password", function(input, value) {
        return value!='Password' ? true : {     
            en: "Please complete this mandatory field"
        };
    });

    $("#form").validator({ 
    	position: 'top', 
    	offset: [25, 10],
    	messageClass:'form-error',
    	message: '<div><em/></div>' // em element is the arrow
    });
});
</script> 


</head>
<body class="login">
    <div class="login-box main-content">
      <header><h2><img src="/images/favicon.ico">&nbsp;&nbsp;&nbsp;<i>UserInfuser</i> Sign Up</h2></header>
    	<section>
    		<div id="signupdiv">
    			{% if message %}
    			<b>{{message}}</b>
                        {% if givelinks %}
                        <p>
                        <a style="float:left" href="/html/signup.html">Signup</a>
                        </p>
                        <p>
                        <a style="float:right" href="adminconsole">Login</a>
                        </p>
                        {% endif %}
    			{% else %}
	    		<form id="form" class="clearfix" method="POST" action="/signup">
                                        Email:
					<p>
						<input type="email" id="email"  class="full" value="" name="email" required="required" placeholder="" />
					</p>
                                        Password:
					<p>
						<input type="password" id="password"  class="full" value="" name="password" required="required" placeholder="Password" />
					</p>
                                        Repeat Password:
					<p>
						<input type="password" data-equals="password" id="repeat_password"  class="full" value="" name="repeat_password" required="required" placeholder="Password" />
					</p>
                                         <input type="hidden" name="show_links" value="no" />
					 <p class="clearfix">
					 	<button class="button button-gray fr" type="submit">Sign me up</button>
					 </p>
				</form>
				{% endif %}
			</div>
    	</section>
    </div>
</body>
</html>
