<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>UserInfuser - {{username}} dashboard</title>

<link rel="stylesheet" media="screen" href="/console/css/reset.css" />
<link rel="stylesheet" media="screen" href="/console/css/grid.css" />
<link rel="stylesheet" media="screen" href="/console/css/style.css" />
<link rel="stylesheet" media="screen" href="/console/css/messages.css" />
<link rel="stylesheet" media="screen" href="/console/css/forms.css" />
<link rel="stylesheet" media="screen" href="/console/css/tables.css" />



<!--[if lt IE 8]>
<link rel="stylesheet" media="screen" href="/console/css/ie.css" />
<![endif]-->

<!-- jquerytools -->
<script src="/console/js/jquery.tools.min.js"></script>
<script src="/console/js/jquery.tables.js"></script>
<script src="/console/js/ajax.js"></script>

<script type="text/javascript" src="/console/js/global.js"></script>

<!--[if lt IE 9]>
<script type="text/javascript" src="/console/js/html5.js"></script>
<script type="text/javascript" src="/console/js/PIE.js"></script>
<script type="text/javascript" src="/console/js/IE9.js"></script>
<script type="text/javascript" src="/console/js/ie.js"></script>
<![endif]-->
<script type="text/javascript">


  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22554622-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
    <div id="wrapper">
        <header>
            <div class="container_8 clearfix">
                <h1 class="grid_1"><a href="dashboard.html">UserInfuser</a></h1>
                <nav class="grid_5">
                    <ul class="clearfix">
                        <li class="fr"><a href="#">{{username}}<span class="arrow-down"></span></a>
                            <ul>
                                <li><a href="#">Preferences</a></li>
                                <li><a href="/logout">Sign out</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <form class="grid_2">
                    <input class="full" type="text" placeholder="Search your users..." />
                </form>
                
            </div>
        </header>
        
        <section>
            <div class="container_8 clearfix">

                <!-- Sidebar -->

                <aside class="grid_1">

                    <nav class="global">
                        <ul class="clearfix">
                            <li class="active"><a class="nav-icon icon-house" href="/adminconsole">Dashboard</a></li>
                            <li><a class="nav-icon icon-star" href="/adminconsole/users">Widgets</a></li>
                            <li><a class="nav-icon icon-user" href="/adminconsole/users">Users</a></li>
                            <li><a class="nav-icon icon-arrow_down" href="/adminconsole/downloads">Downloads</a></li>
                            <li><a class="nav-icon icon-calculator" href="/adminconsole/features">Analytics</a></li>
                        </ul>
                    </nav>
                </aside>

                <!-- Sidebar End -->




				{% if editusername %}
				
                <!-- Main Section 3 column -->
                <section class="main-section grid_7">

                    <div class="main-content grid_5 alpha">
                        <header>
                            <ul class="action-buttons clearfix fr">
                                <li><a href="documentation/index.html" class="button button-gray no-text help" rel="#overlay">Help<span class="help"></span></a></li>
                            </ul>
                            <h2>User information for: {{editusername}}</h2>
                        </header>
                        <section>
                            <div class="message info ac">
                                <h3>Current Trophy Case:</h3>
                                <p>THIS IS THE USERS TROPHY CASE</p>
                            </div>
                        </section>
                    </div>

                    <div class="grid_2 omega">
                        <div class="content">
                            <h3>Lorem Ipsum Dolor Sit Amet</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet massa at lorem molestie egestas. Donec ipsum purus, consequat ac gravida sed, volutpat ut velit.</p>
                        </div>
                    </div>

                </section>
                
                <!-- Main Section End -->




                {% else %}
                <!-- Main Section ONE BIG COLUMN -->

                <section class="main-section grid_7">

                    <div class="main-content">
                        <header>
                            <ul class="action-buttons clearfix fr">
                                <li><a href="https://google.com" class="button button-gray no-text help" rel="#overlay">Help<span class="help"></span></a></li>
                            </ul>
                            <h2>
                                Users
                            </h2>
                        </header>
                        <section class="container_6 clearfix">
                        	<div class="grid_6">
	                        	<table class="datatable paginate sortable full">
									<thead>
									    <tr>
									        <th>Username</th>
									        <th>Badge Count</th>
									        <th>Click Count</th>
									        <th style="width:40px"></th>
									    </tr>
									</thead>
									<tbody>
										{% for user in userslist %}
										<tr>
											<td>{{user.email}}</td>
											<td>{{user.badge_count}}</td>
											<td>{{user.click_count}}</td>
											<td>
												<ul class="action-buttons">
                                                    <li><a href="/adminconsole/users/edit?name={{user.email}}" class="button button-gray no-text"><span class="pencil"></span>Edit</a></li>
                                                </ul>
											</td>
										</tr>
										{% endfor %}
									</tbody>
	                        	</table>
                        	</div>
                        </section>
                    </div>

                </section>

                <!-- Main Section End -->
                {% endif %}
                

            </div>
            <div id="push"></div>
        </section>
    </div>
    
    <footer>
        <div id="footer-inner" class="container_8 clearfix">
            <div class="grid_8">
                
            </div>
        </div>
    </footer>
</body>
</html>
