<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>UserInfuser|Account|View Badge</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>


<div id="toplinebackbg"><div id="toplineback">


	<!-- This is the top navigation -->
	
	<div class="navlist">
	<a href="index.html">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="products.html">Products</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="about.html">About</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="support.html">Support</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="documentation.html">Documentation</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="signup.html">Sign Up</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="index.html">Login</a> <!-- login jquery dialog -->
	</div>

</div></div>


<div id="midlinebackbg"><div id="midlineback">
	<!-- Page titles can go here! -->
	
	<div id="fatq1">
		<!-- Quarter1, probably leave this for the logo.. -->
		<img src="/images/logo.png"/>
	</div>
	
	<div id="fatq2">
		<!-- Q2, put some exciting sign up button here! -->
	</div>
	
	<div id="clr"></div>
	
	<div id="fatq3">
		<h1>Your newly uploaded badge:</h1>
	</div>
	
	<div id="fatq4">
		<!--  Something else can go here -->
	</div>
	
	

</div></div>


<div id="landingcontentshade">
  <div class="content">
    <div id="wrapper">
 	<div id="leftpane">
           <div class="content">
 		<h2>Badges For Theme {{badgetheme}} </h2>
                 {% for badge in badges %}
                 <div>Badge Name: {{ badge.name}}
                   <div>Description: {{ badge.description }}</div>
                   <div>Badge ID: "{{badgetheme}}-{{badge.name}}-{{badge.perm}}"</div>
                   <div>Badge:
                       <img width="90" height="90" src="/badge/d?bk={{ badge.key }}" alt="{{ badge.alt }}"/>
                   </div>
                 {% endfor %}
                 </div>
             </div>
         </div>
 	
 	
 
 	<div id="clr"></div><br/><br/><br/><hr/>
 	<center>This the bottom, and it's centered. We can put a bunch of stuff down here.</center>
 	<br/><br/>
 </div>
 </div>

</div>
</body>
</html>
